<h1>Slyde It</h1> 
<h2>Test Application</h2>
Goal for this page: 
<br>
To let the user create a new account and upload a file (Success! 7/3)
<br>
To have a model that has users able to have multiple files (Done 7/8)
<br>
Easily upload a file, know its relation to user
<br>
To save a reference to the file, for one-click access
<br>
To create a randomized refrence to that one-click, and make it sharable
<br>
decouple from my computer

<br>
<br>
<br>
<br>

<%#= render 'form' %>

<% form_for :user, @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :doc %>
  <%= submit_tag value="Submit" %>
<% end %>

<br>
<br>
<%= link_to 'Users', users_path %>
<%= link_to 'Decks', decks_path %>

